/* COMMON rules */

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    display: block;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: $main_text_color;
}


/* Style */
h2 { font-size: 32px; }

h3 { font-size: 25px; }

h4 { font-size: 20px; }

a {
    text-decoration: none;
    color: $main_text_color;
    font-weight: bolder;
}

.container {
    width: $main_container;
    margin: auto;
}

nav { margin-top: 20px; }

li {
    display: inline-block;
    list-style-type: none;
}

/* Buttons */
.sign-up-buttons {
    button {
    padding: 5px;
    color: white;
    background-color: $button_blue_color;
    border-radius: 5px;
    cursor: pointer;
        div {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
        }
    }
    p { margin-top: 20px; }
}