/* Main content */
nav {
    @include display_flex_centered;
    padding-bottom: 10px;
    border-bottom: 1px solid $main_text_color;

    .logo {
        width: 120px;
    }

    .right-col li {
        margin-left: 15px;

        button {
            padding: 10px;
            border-radius: 10px;
            border: 2px solid $button_blue_color;

            .google-button, span {
                display: inline-block;
                vertical-align: middle;
            }
            .google-button {
                width: 20px;
            }
            span {
                color: $button_blue_color;
                font-weight: bolder;
            }
        }
    }
}