/* HEADER content */
nav {
    @include display_flex_centered;
    padding-bottom: 10px;
    border-bottom: 1px solid;

    .logo {
        width: 120px;
    }

    .right-col li {
        margin-left: 15px;

        button {
            padding: 10px;
            border-radius: 10px;
            border: 2px solid $button_blue_color;
            cursor: pointer;

            .google-button, span {
                display: inline-block;
                vertical-align: middle;
            }
            .google-button {
                width: 20px;
            }
            span {
                color: $button_blue_color;
                font-weight: bolder;
            }
        }
    }
}

.header-section {
    @include clearfix;
    padding: 35px 0;

    .left-col,
    .right-col {
        float: left;
        width: 50%;
    }

    .left-col {
        .text p {
            margin: 5px 0 80px 0;
            color: $second_text_color;
        }
    }
}


/* Media query */
@media all and (max-width: $breakpoint) {
    nav .right-col {
        display: none;
    }
    .header-section {
        text-align: center;
        .left-col,
        .right-col {
            float: none;
            width: 100%;
        }
    }
}