/* Contiene tutte le variabili */
$main_container: 80%;
$small_font_text: 10px;
$main_text_color: #3e14e9; /* Persian blue */
$button_blue_color: #0e14ee; /* Blue */
$bg_color_section: #0414b3; /* Dark blue */
$second_text_color: #7f14d4; /* Electric violet */